<div class="{{tag}}">
    <div class="heading">
      <span>Similar known gene clusters</span>
      {{help_tooltip(tooltip, tag)}}
    </div>
  {% if results %}
  <div id="cb-comparison-container-{{region.anchor_id}}-{{tag}}"></div>
  <table class="cb-heat-table">
    <tr>
     <th>Reference</th>
     {% if -1 not in proto_results %}
         {% for proto in region.get_unique_protoclusters() %}
         <th><span class="cb-heat-product">{{proto.product}}</span></th>
         {% endfor %}
     {% else %}
         <th><span class="cb-heat-product">All</span></th>
     {% endif %}
     <th>Similarity score</th>
     <th>Type</th>
     <th>Compound(s)</th>
    </tr>
    {% for ref, total in results %}
        <tr class="cb-heat-row" data-accession="{{ref}}">
        <td><a href="missing ref">{{ref.get_identifier()}}</a></td>
        {% for proto in region.get_unique_protoclusters() %}
         {% if proto_results.get(proto.get_protocluster_number(), {}).get(ref) %}
          {% set score = proto_results[proto.get_protocluster_number()][ref] %}
          {% set perc = "{:.0f}".format(score.final_score*100) %}
          {% set colour = "rgb(0, 0, 0, {:.2f})".format(score.final_score) %}
        <td class="cb-heat-cell" title="{{score.table_string()}}" style="background-image: linear-gradient(to top, {{colour}}, {{colour}} {{perc}}%, white {{perc}}%)"></td>
         {% else %}
        <td class="cb-heat-cell" title="no hits" style="background-image: linear-gradient(to top, rgb(0, 0, 0, 0%), rgb(0, 0, 0, 0%) 0%, white 0%)"></td>
         {% endif %}
        {% endfor %}
        <td>{{"{:.2f}".format(total)}}</td>
        <td>{{ref.get_product_string()}}</td>
        <td>{{"missing description"}}</td>
        </tr>
    {% endfor %}
   </table>
  {% else %}
    <div><p>No matches found.</p></div>
  {% endif %}
</div>
